# Node
node_modules
frontend/node_modules

# Environment variables
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Coverage
/coverage
/coverage.json

# Hardhat Ignition
ignition/deployments/chain-31337

# Frontend build output
frontend/dist
frontend/build

# Logs
*.log
npm-debug.log*

